<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
      <div class="container"> 
        <h1><a href="index.html" class="navbar-brand"><i class="spy fas fa-bullhorn fa-lg pr-4"></i>Whisper..</a></h1>
        <form class="form-inline">
          <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
          <button type="submit" class="btn btn-info border border-white">Search</button>
        </form>
      </div> 
    </nav>
    <div class="container my-3 mb-5">
      <nav class="breadcrumb border border-info p-2">
        <a href="index.html" class="breadcrumb-item">General Forum</a>
       </nav>  
  {{{body}}}

 </div> 
  <footer class="small bg-dark text-white">
      <div class="container py-3">
        <ul class="list-inline mb-0 text-center">
          <li class="list-inline-item">&copy; 2019 Whisper</li>
          <li class="list-inline-item">All rights reserved.</li>
          <li class="list-inline-item"><a href="#">Terms of use and privacy policy</a>.</li>
        </ul>
      </div>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
