<div class="faq container shadow border border-light ml-3">
    <br>
<h2> About Us: </h2>
<div class="container qa ml-1 p-2">

    <p>Whisper-it has been developed to give people a place to come and talk about anything on their mind anonymously, without limits! "As long as you stay within the boundaries of the terms and conditions" <i class="fas fa-smile-wink smilie"></i>.
    
    <p> Whisper-it brings you a platform for endless conversation, and authentic human connection.
   </p>

</div>