<div class="jumbotron">
  <h1 class style justify-content='center'"display-4">About us</h1>
  <p class="lead">Our Story</p>
  <hr class="my-4">
  <p>Whisper-its purpose is to give all people a place to come and talk about anything on their mind anonymously, without limits within the boundaries of the terms and conditions. We bring you a platform endless conversation, and authentic human connection.
    </p>
  {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
</div>