{{!-- addded folder/ code from Trey's build --}}

    {{!-- <div class="container my-3 mb-5">
      
      <div class="row">
        <div class="col-12">
          <h2 class="h4 mb-3 ml-2 pt-3">Forum Post:</h2>
          <table class="table table-responsive-lg table-borderless mt-3">
            <thead class="thead">
              <tr>
             
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="author-col">
                  <div>by: <span>Author Name</span></div>
                </td>
                <td class="post-col d-lg-flex justify-content-lg-between border-0">
                  <div><span class="font-weight-bold">Post Title:</span> Forum post title with a complex and long question.</div>
                 
                </td>
              </tr>
              <tr>
                <td>
                  <div><span class="font-weight-bold">Posted:</span><br>03 Apr 2017, 13:46</div>
            
                </td>
                <td>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat auctor enim eu blandit. Aliquam consequat tortor sit amet velit consectetur, eu sollicitudin orci posuere. Integer at varius massa, at aliquam velit. Suspendisse eu pellentesque libero, vel suscipit felis. Sed non eros non purus sollicitudin ullamcorper sit amet ut dolor. Curabitur ac nisi nunc. Suspendisse porta ac eros vitae dapibus. Donec a metus a purus rutrum rutrum ac ac ipsum. Ut vulputate facilisis nisi, in imperdiet dolor suscipit eget. Suspendisse ultricies mauris quis ex pellentesque ultricies. Duis a purus nec risus condimentum pellentesque at at enim.<p/>
                 
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      
      <form class="mb-3">
        <div class="form-group">
          <label for="comment">Reply to this Post:</label>
          <textarea class="form-control bg-light" id="comment" rows="10" placeholder="Write your comment here." required></textarea>
        </div>
       

        <button type="submit" class="comment btn btn-outline-deep-orange waves-effect rounded">Reply to Post</button>
        <button type="reset" class="btn btn-dark waves-effect rounded">Reset</button>

      </form>
      </div> --}}