<div class="newpost pl-3" id="create-post">
  <h2 class="h4">Create New Post:</h2>
  <div class="container col-9 shadow p-3 border border-light ml-3">
  <form class="clearfix mb-2" id="createForm">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" id="username" class="form-control bg-light" aria-describedby="username" placeholder="Enter User Name" required>
    </div>
    {{!-- Make Category As a Drop Down --}}
    <div class="form-group">
      <label for="post-category">Categories:</label>
      <select class="form-control bg-light" id="post-category">
        <option>General Discussions</option>
        <option>Social</option>
        <option>Relationship</option>
        <option>School</option>
        <option>Work</option>
        <option>Random Thoughts</option>
      </select>
    </div>

    <div class="form-group">
      <label for="pin">Pin Number:</label>
      <input type="number" id="pin" class="form-control bg-light" aria-describedby="pin" placeholder="4~6 Digit Pin# required to delete/update your post" required>
    </div>
    <div class="form-group">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" class="form-control bg-light" aria-describedby="post-title" placeholder="Give your Post a title." required>
    </div>
    <div class="form-group">
      <label for="post-content">Content:</label>
      <textarea type="text" id="post-content" class="form-control bg-light" aria-describedby="post-content" rows="8" placeholder="Write your Message here." required></textarea>
    </div>
     
     <button id="submit-post" class="btn btn-outline-deep-orange waves-effect rounded-pill float-right"><i class="fas fa-plus pr-2"></i>Submit Post</button>  
   
  </form>

</div>
</div>

{{!-- Chance --}}
<script src="http://chancejs.com/chance.min.js"></script>
{{!-- jquery & js --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/post-ajax.js"></script>