<div class="container shadow bordeer border-light ml-3">
    <br>
<h1>Terms of Service:</h1>

<div class= "container terms ml-1">

<p>- Don't be a pest to the forum.</p>
<p>- No profanity in thread-titles or usernames</p> 
<p>- No excessive profanity in posts</p> 
<p>- No Racism, Antisemitism + Hate</p>
<p>- No calls for violence against anyone..</p>
</div>

<h1>Disclaimer:</h1> 
<div class= "container terms ml-1">
<p> This website exists for fun and discussion only. The reader is responsible for discerning the validity, factuality or implications of information posted here, be it fictional or based on real events. The content of posts on this site, including but not limited to links to other web sites, are the expressed opinion of the original poster and are in no way representative of or endorsed by the owners or administration of this website. The posts on this website are the opinion of the specific author and are not statements of advice, opinion, or factual information on behalf of the owner or administration of whisper-it.com. The owners or administration of this website can't be hold responsible for content hosted on sites that posters link to in; including, but not limited to, posts, signatures, private messages and such. This site may contain content not suitable for minors and if you feel you might be offended by such content, you should log off immediately.</p>
</div>
<h1>Fair Use Notice:</h1>
<div class= "container terms ml-1">
<P>This site may contain copyrighted material the use of which has not always been specifically authorized by the copyright owner. Users may make such material available in an effort to advance awareness and understanding of issues relating to civil rights, economics, individual rights, international affairs, liberty, science & technology, etc. We believe this constitutes a 'fair use' of any such copyrighted material. The material on this site is distributed without profit to those who have expressed a prior interest in receiving the included information for research and educational purposes.</p>

<P> In accordance with industry accepted best practices we ask that users limit their copy / paste of copyrighted material to the relevant portions of the article you wish to discuss (no more than 50% of the source material) provide a link back to the original article and provide your original comments / criticism in your post with the article.</P>
<p>If you are a legal copyright holder or a designated agent for such and you believe a post on this website falls outside the boundaries of "Fair Use" and legitimately infringes on yours or your clients copyright please contact us <a href="admin@whisper-it.com"><a/> </p>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/comment-ajax.js"></script>