.topic-col {
  min-width: 16em;
}

/* .created-col,
.last-post-col {
  min-width: 11em;
} */

h1 {
  color: grey;
  font-weight: bold;

}

.navbar-brand {
font-size: 50px;
color: orangered;
font-weight: bold;

}
.navbar {
-webkit-box-shadow: 0 8px 6px -6px #999;
-moz-box-shadow: 0 8px 6px -6px #999;
box-shadow: 0 8px 6px -6px #999;

/* the rest of your styling */
}

h5 {
color:lightskyblue;
font-weight: bold;
padding-left: 12px;
}

.wind {
  color:lightskyblue;
}
.form-control {
  border-radius: 1rem;
  }

span {

font-weight: bold
}
.author-col {
  min-width: 12em ;
}

.post-col {
  min-width: 20em;

}

.details-col {
  min-width: 7em;
}

a:hover {
  text-decoration: none;
}

.important {
color: red;
}

.spy  {
color:black;

} 

footer {
padding-left: 10px;

}

ul {
list-style-type: none;
}

.h4 {
color:lightskyblue;
}

/* body {
  background: url(./images/background\ effects.gif);
} */

/* 
>>>>>>> 32025c27f85528da15f950a2a5bd7b1eed14a6b1
.posts-li {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 5px;
}   */

/* These reverse the order of posts-li so that the newest post gets displayed at the top */
#posts-list {
    transform: rotate(180deg);
}
#posts-list > .posts-li {
    transform: rotate(-180deg);
}
/* label {
font-weight: bold
} */
